{% extends 'catalog/base.html' %}
{% load my_tags%}
{% block content %}

<div class="col-12 mb-5">
</div>
<div class="container">
    <div class="row text-center">
        <div class="col-12 mb-5">
    <a class="btn btn-outline-primary" href="{% url 'catalog:create_products' %}">Добавить прродукт</a>
    </div>
        {% for object in object_list %}
        <div class="col-4">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Лучшие товары</h4>
                </div>
                <div class="card-body">
                    <img src="{{ object.picture|mediapath }}" alt="image" height=200px width=300px>
                    <h1 class="card-title pricing-card-title">{{ object|title }}</h1>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>- {{ object.price }}</li>
                        <li>- {{ object.description|truncatechars:100 }}</li>
                        <li>- {{ object.category }}</li>

                    </ul>
                    <a class="p-2 btn btn-outline-primary" href="{% url 'catalog:product' object.pk %}">Купить</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}